.car-image{
    animation: slidecar 1s ease-out;
}

@keyframes slidecar{
    from{
        transform: translateX(100%);
        opacity: 0;
    } to{
        transform: translateX(0);
        opacity: 1;
    }
}